[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bootstrap-flask = ">=2.3.0, <3.0.0"
flask = ">=2.3.3, <3.0.0"
flask-graphql = ">=2.0.1, <3.0.0"
graphene = ">=2.1.9, <3.0.0"

[dev-packages]

[requires]
python_version = "3.11"
